$main-font: 'Montserrat', sans-serif;
$second-font: 'Seymour One',
  sans-serif;
$main-bgcolor: #84A178;
$second-bgcolor: #AEC6A5;
$third-bgcolor: #EFD478;
$fourth-bgcolor: #D6936D;
$fifth-bgcolor: #F8D24E;
$modal-bgcolor: #FCFCFC;

$main-txcolor: #FCFCFC;
$second-txcolor: #131313;
$third-txcolor: #D6936D;
$fourth-txcolor: #ABABAB;
$fifth-txcolor: #7A7A7A;
$sixth-txcolor: #FFFFFF;
$seventh-txcolor: #000000;
$eighth-txcolor: #F8D24E;

$hover-focus-color: #0A8817;
$disabled-color: #ABABAB;
$tr-delay: 250ms;
$tr-timing-function: cubic-bezier(0.4, 0, 0.2, 1);