<header>
    <div class="container main__nav">
        <a class="logo" href="">
            <img class="img-logo" srcset="
                                    ./images/hero/mob-logo-40@1x.png 40w,
                                    ./images/hero/mob-logo-80@2x.png 80w,
                                    ./images/hero/tab-logo-48@1x.png 48w,
                                    ./images/hero/tab-logo-96@2x.png 96w,
                                    ./images/hero/des-logo-60@1x.png 60w,
                                    ./images/hero/des-logo-120@2x.png 120w"
                sizes="(min-width: 1200px) 60px, (min-width: 768px) 48px, (min-width: 320px) 40px, 100vw"
                src="./images/hero/mob-logo-40@1x.png" alt="logo">
        </a>
        <button data-menu-button aria-expanded="false" aria-controls="menu-bg" type="button" class="menu-button ">
            <svg width="32" height="32" aria-label="Mobile menu">
                <use class="menu-button__open" href="./images/symbol-defs.svg#icon-menu"></use>
                <use class="menu-button__close" href="./images/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <div data-menu class="menu-bg " id="menu-bg">

            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link" href="">Home</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link link current" href="">How it’s made?</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="">Our products</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="">Contact</a>
                    </li>
                </ul>
            </nav>
            <button data-modal-open class="button__buy" type="button">Buy now
                <svg width="12" height="12">
                    <use href="./images/symbol-defs.svg#icon-arrow-btn"></use>
                </svg>
            </button>
        </div>


    </div>
</header>