<section class="hero">
  <div class="container hero__container">
    <div class="hero__group">
      <h1 class="hero__title title">
        ice cream made with <span class="hero__title--passion">passion</span>
      </h1>
      <ul class="hero__chain">
        <li class="chain__item">
          <p class="chain__number">16</p>
          <p class="chain__text">cafes</p>
        </li>
        <li class="chain__item">
          <p class="chain__number">23</p>
          <p class="chain__text">food trucks</p>
        </li>
      </ul>
    </div>
    <ul class="hero__btn--group">
      <li>
        <a href="#our-products" class="hollow-button__hero link">Products</a>
      </li>
      <li><a href="#how-its-made?" class="button-text">How it’s made?</a></li>
    </ul>
    <div class="hero__tablet--group">
      <img
        class="hero_ic--left animate__animated animate__rollIn"
        loading="lazy"
        src="./images/hero/tab-icecreams-152@1x.png"
        srcset="
          ./images/hero/tab-icecreams-152@1x.png 152w,
          ./images/hero/tab-icecreams-304@2x.png 304w,
          ./images/hero/des-icecreams-225@1x.png 225w,
          ./images/hero/des-icecreams-450@2x.png 450w
        "
        sizes="
              (min-width: 1200px) 225px,
              (min-width: 768px) 152px, 100vw
              "
        alt="ice cream on dish"
      />
      <div class="hero__text--group">
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="arrow__btn">
          <svg class="hero__arrow" width="40" height="14">
            <use href="/src/images/symbol-defs.svg#icon-arrow-white"></use>
          </svg>
        </button>
      </div>
    </div>
    <img
      class="hero_ic--right"
      loading="lazy"
      src="./images/hero/mob-icecream-177@1x.png"
      srcset="
        ./images/hero/mob-icecream-177@1x.png 177w,
        ./images/hero/mob-icecream-354@2x.png 354w,
        ./images/hero/tab-icecream-268@1x.png 268w,
        ./images/hero/tab-icecream-536@2x.png 536w,
        ./images/hero/des-icecream-456@1x.png 456w,
        ./images/hero/des-icecream-912@2x.png 912w
      "
      sizes="
            (min-width: 1200px) 456px,
            (min-width: 768px) 268px,
            (min-width: 320px) 177px, 55vw
            "
      alt="ice cream in the cup"
    />
  </div>
</section>
