<!--Hero-->
<div class="hero container">
    <div class="hero__titlebox">
        <h1 class="hero__title">Ice cream made with <span class="hero__passion">passion</span></h1>
    </div>
    <div class="hero__links">
        <button type="button" class="hero__button1">
            <a href="#">Products</a>
        </button>
        <button type="button" class="hero__button2">
            <a href="#">How it's made?</a>
        </button>
    </div>
    <ul class="hero__list">
        <li class="hero__item"><span class="hero__number">16</span><br>cafes</li>
        <li class="hero__item"><span class="hero__number">23</span><br>food trucks</li>
    </ul>
    <img class="hero__mainimagemobile"
        srcset="
        /src/images/hero/mob-icecream-177@1x.png 1x, 
        /src/images/hero/mob-icecream-354@2x.png 2x"
        src="/src/images/hero/mob-icecream-177@1x.png"
        width="177"
        alt="ice cream"
    />
    <img class="hero__mainimagetablet"
        srcset="
        /src/images/hero/tab-icecream-268@1x.png 1x, 
        /src/images/hero/tab-icecream-536@2x.png 2x"
        src="/src/images/hero/mob-icecream-177@1x.png"
        width="268"
        alt="ice cream"
    />
    <img class="hero__mainimagedesktop"
        srcset="
        /src/images/hero/des-icecream-456@1x.png 1x, 
        /src/images/hero/des-icecream-912@2x.png 2x"
        src="/src/images/hero/mob-icecream-177@1x.png"
        width="456"
        alt="ice cream"
    />
    <img class="hero__backgroundmobile"
        srcset="
        /src/images/hero/mob-bg-img-320@1x.png 1x, 
        /src/images/hero/mob-bg-img-640@2x.png 2x"
        src="/src/images/hero/mob-bg-img-320@1x.png"
        width="320"
        alt="ice cream"
    />
    <img class="hero__backgroundtablet"
        srcset="
        /src/images/hero/tab-bg-img-768@1x.png 1x, 
        /src/images/hero/tab-bg-img-1536@2x.png 2x"
        src="/src/images/hero/mob-bg-img-320@1x.png"
        width="768"
        alt="ice cream"
    />
    <img class="hero__backgrounddesktop"
        srcset="
        /src/images/hero/des-bg-img-1200@1x.png 1x, 
        /src/images/hero/des-bg-img-2400@2x.png 2x"
        src="/src/images/hero/mob-bg-img-320@1x.png"
        width="1200"
        alt="ice cream"
    />
    <img class="hero__plateimagetablet"
        srcset="
        /src/images/hero/tab-icecreams-152@1x.png 1x, 
        /src/images/hero/tab-icecreams-304@2x.png 2x"
        src="/src/images/hero/tab-icecreams-152@1x.png"
        width="152"
        alt="ice cream plate"
    />
    <img class="hero__plateimagedesktop"
        srcset="
        /src/images/hero/des-icecreams-255@1x.png 1x, 
        /src/images/hero/des-icecreams-450@2x.png 2x"
        src="/src/images/hero/tab-icecreams-152@1x.png"
        width="255"
        alt="ice cream plate"
    />
    <div class="hero__paragraph">
    <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    <svg class="hero__arrow" width="40" height="8"><use href="/src/images/symbol-defs.svg#icon-arrow-white"></use></svg>
    </div>
</div>