<!--Модальне вікно  -->

<div class="backdrop__products is-hidden" data-modal-ingredients>

  <div class="main-modal">
    <button class="modal-icon" type="button" data-modal-ingredients-close>

  <div class="modal">
    <button class="modal-icon" type="button" data-modal-close>

      <svg class="modal-icon-close" width="18" height="18">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="products-modal__title">Chololate icecream</h2>
    <div class="products-modal__thumb">
      <picture class="products-modal__img">
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/modal/des-tab-img4-132@1x.png 1x,
            ./images/modal/des-tab-img4-264@2x.png 2x
          "
          type="image/jpg"
        />

        <source
          media="(max-width: 767px)"
          srcset="
            ./images/modal/des-tab-img4-132@1x.png 1x,
            ./images/modal/des-tab-img4-264@2x.png 2x
          "
          type="image/jpg"
        />
        <img src="./images/modal/des-tab-img4-132@1x.png" alt="ice cream" />
      </picture>
    </div>

    <div class="products-modal">
      <ul class="products-modal__list list">
        <li class="products-modal__item">
          <div class="products-modal__wrapper">
            <span class="wrapper-product__amount">320</span>
            <span class="wrapper-product__text">kcal</span>
          </div>
        </li>
        <li class="products-modal__item">
          <div class="products-modal__wrapper">
            <span class="wrapper-product__amount">4g </span>
            <span class="wrapper-product__text">Prote...</span>
          </div>
        </li>
        <li class="products-modal__item">
          <div class="products-modal__wrapper">
            <span class="wrapper-product__amount">8,2g</span>
            <span class="wrapper-product__text">Fats</span>
          </div>
        </li>
        <li class="products-modal__item">
          <div class="products-modal__wrapper">
            <span class="wrapper-product__amount">40,4g</span>
            <span class="wrapper-product__text">Carbs</span>
          </div>
        </li>
      </ul>
    </div>

    <div class="ingredients">
      <p class="ingredients__title">Ingredients</p>
      <ul class="ingredients__list list">
        <li class="ingredients__item">
          <span class="ingredients-item-name">Milk</span
          ><span class="ingredients-item-name">100ml</span>
        </li>
        <li class="ingredients__item">
          <span class="ingredients-item-name">Belgian chocolate</span
          ><span class="ingredients-item-name">20g</span>
        </li>
        <li class="ingredients__item">
          <span class="ingredients-item-name">Cream</span
          ><span class="ingredients-item-name">150 ml</span>
        </li>
        <li class="ingredients__item">
          <span class="ingredients-item-name">Cocoa powder</span>
          <span class="ingredients-item-name">30g</span>
        </li>
        <li class="ingredients__item">
          <span class="ingredients-item-name">Sugar</span
          ><span class="ingredients-item-name">40g</span>
        </li>
        <li class="ingredients__item">
          <span class="ingredients-item-name">Vanilla sugar</span>
          <span class="ingredients-item-name">10g</span>
        </li>
      </ul>
    </div>
    <form class="products-modal__form">
      <label class="products-modal__field">
        <input
          class="products-modal__input"
          type="text"
          name="name"
          id="name"
          autofocus
          placeholder="Name"
          required
        />
      </label>

      <label class="products-modal__field">
        <input
          class="products-modal__input"
          type="tel"
          name="tel"
          id="tel"
          placeholder="Phone"
          required
        />
      </label>

      <label class="products-modal__field">
        <textarea
          class="products-modal__textarea"
          name="comment"
          id="comment"
          placeholder="Comment"
        ></textarea>
      </label>
      <button class="products-modal__btn" type="submit">Submit</button>
    </form>
  </div>
</div>
