<!-- !!!!!!!!!!!!!!!!!!!!!Read MORE MODAL!!!!!!!!!!!!!!!!!!!! -->
<div class="read-more-modal" read-more-modal>
  <button class="read-more__close-btn" type="button" read-more-modal-close>
    <svg class="read-more__close-icon" width="20" height="20">
      <use href="./images/symbol-defs.svg#read-more__close-icon"></use>
    </svg>
  </button>
  <p class="read-more__tittle">How it’s made?</p>
  <iframe
    class="read-more__video"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/JSpgjqWTg6o"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <p class="read-more__info">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>
